body{
  height: 100%;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main{
  flex: 1 0 auto;
}
/*img section*/
.img-dropbox {
  width:100%;
  height: 440px;
  overflow: hidden;
  border: 1px dotted;
  margin-top: 8px;
  margin-bottom: 5px;
}
.responsive {
  height: 440px;
  width: 620px;
}
.fixed-bottom{
  bottom: 1px;
  position: fixed;
}
html {
  font-family: 
}

.urlInput{
  padding: 2% 0 !important;
}    
.imglist {
  padding: 5px;
}
nav{
  color: black;
}
.left{
  left: 0;
}
#sbutton{
  padding-left: 10px;
}
.modal-content{
  line-height: 20px;

h4 {
  text-align: center;
}