body{
  height: 100%;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*img section*/
.img-dropbox {
  width:100%;
  height: 440px;
  overflow: hidden;
  border: 1px dotted;
}
.responsive {
  height: 440px;
  width: 620px;
}
.fixed-bottom{
  bottom: 1px;
  position: fixed;
}

html {
  font-family: 
}
.main {
  flex: 1 0 auto;
}
.urlInput{
  padding: 2% 0 !important;
}    
img
